<div class="table-container">
  <table class="table-rwd">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Opening</th>
        <th scope="col">Director</th>
        <th scope="col">Producer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filmModel.results">
        <td>{{item.title}}</td>
        <td>{{item.opening_crawl}}</td>
        <td>{{item.director}}</td>
        <td>{{item.producer}}</td>
      </tr>      
    </tbody>
  </table>
</div>



