<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Classification</th>
        <th scope="col">Designation</th>
        <th scope="col">Average_height</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of specieModel.results">
        <td>{{item.name}}</td>
        <td>{{item.classification}}</td>
        <td>{{item.designation}}</td>
        <td>{{item.average_height}}</td>
      </tr>      
    </tbody>
  </table>
