<div class="container-fluid">
    <div class="d-none d-md-block d-sm-block d-lg-block">
        <div class="row justify-content-md-center justify-content-lg-center">
            <div class="col-5 d-sm-none d-md-none d-lg-none d-xs-block"></div>
            <div class="col-1 col-sm-6 offset-sm-4 col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                <div id="descriptionFooter">
                    <p style="font-weight: bold;">Siguenos en:</p>
                    <div class="col-sm-12 col-md-12 col-lg-12" id="redesSociales">
                        <a href="https://www.facebook.com/" class="fa fa-facebook-square"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a>
                        <a href="https://www.tumblr.com" class="fa fa-tumblr"></a>
                        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                    </div>
                    <p>Grupo FrontEnd</p>
                    <p>©Todos los Derechos Reservados.</p>
                </div>
            </div>
        </div>
        <div class="row" id="bannerFooter">
        </div>
    </div>
    <div class="d-sm-none d-md-none d-lg-none d-xs-block">
        <div class="row justify-content-md-center justify-content-lg-center">
            <div class="col-4"></div>
            <div class="col-6">
                <div id="descriptionFooterSmall">
                    <p style="font-weight: bold;">Siguenos en:</p>
                    <div class="col-sm-12 col-md-12 col-lg-12" id="redesSociales">
                        <a href="https://www.facebook.com/" class="fa fa-facebook-square"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a>
                        <a href="https://www.tumblr.com" class="fa fa-tumblr"></a>
                        <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                        <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                    </div>
                    <p>Grupo FrontEnd</p>
                    <p>©Todos los Derechos Reservados.</p>
                </div>
            </div>
        </div>
        <div class="row " id="bannerFooterSmall">
        </div>
    </div>
</div>
<div class="text-center">
    <span class="text-bold text-danger font-weight-bold d-none d-xs-none d-sm-none d-md-none d-lg-block">LG</span>
    <span class="text-bold text-danger font-weight-bold d-none d-xs-none d-sm-none d-lg-none d-md-block">MD</span>
    <span class="text-bold text-danger font-weight-bold d-none d-xs-none d-md-none d-lg-none d-sm-block">SM</span>
    <span class="text-bold text-danger font-weight-bold d-sm-none d-md-none d-lg-none d-xs-block">XS</span>
</div>