<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">StarWars</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/']">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/film']">Films</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/character']">People</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/spaceship']">Starships</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/specie']">Species</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/vehicle']">Vehicles</a>
        <a class="nav-item nav-link" routerLinkActive="active" [routerLink]="['/planet']">Planets</a>
      </div>
    </div>
  </nav>
