<div class="container-fluid">



    <div class="container container-inner"> 
            
        <div class="row">
            <div class="col-md-4">
                <div class="service-block animation bounceIn">
                    <div class="service-block-icon text-center">                    
                                             
                    </div>
                    <div class="service-block-title text-center">
                        <h3> </h3>
                        <h3>TATOOINE (CON DOS SOLES)</h3>
                    </div>
                    <div id="contenedor">
                        <img src="assets\imgHome\image-tatooine.jpg" alt="imagen">
                    </div>
                    <div class="service-block-content text-center">
                        <p class="lead">"<em><strong>Kepler-16b</strong>, Un gigante helado gaseoso del tamaño de Saturno, que gira alrededor de dos estrellas.</em>"</p>
                        <a href="#" class="link-icon">Leer Más <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>  
            </div>
            <div class="col-md-4">
                <div class="service-block animation bounceIn">
                    
                    <div class="service-block-title text-center">
                       <h3> </h3>
                       <h3>ENDOR (SATELITE HABITADO)</h3>
                    </div>
                    <div id="contenedor">
                        <img src="assets\imgHome\image-edor.jpg" alt="imagen">
                    </div>
                    <div class="service-block-content text-center">
                        <p class="lead">"<em>Es el satélite natural habitable de un gigante gaseoso, así como <strong>Encelado</strong>, luna de Saturno, y <strong>Europa</strong>, luna de Júpiter; mundos acuáticos que podrían contener vida.</em>"</p>
                        <a href="#" class="link-icon">Leer Más <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-block animation bounceIn">
                    
                    <div class="service-block-title text-center">
                        <h3> </h3>
                        <h3>DAGOBAH</h3>
                        <h3> </h3>
                    </div>
                    <div id="contenedor">
                        <img src="assets\imgHome\image-dagobah.jpg" alt="imagen">
                    </div>
                    <div class="service-block-content text-center">
                        <p class="lead">"<em>Era un planeta en el sistema Dagobah, y uno de los lugares más puros de la galaxia dentro de la Fuerza. Un mundo lejano lleno de pantanos y bosques, sirvió como refugio para el <strong>Gran Maestro Jedi Yoda</strong>.</em></p>
                        <a href="#" class="link-icon">Leer Más <i class="fa fa-angle-right"></i></a>
                    </div>
                </div> 
            </div>

        </div>
</div>


