<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-md-4 offset-lg-1 col-lg-3">
            <br>
            <div class="characterAspect">
                <a href="#"><img src="/././assets/img/Darth-Vader.jpg" /></a>
            </div>
            <div class="content-wrapper">
                <div class="content-info">
                    <h3 class="title">
                        <a href="#" data-slug="databank/darth-vader"> <span class="long-title">Darth Vader</span> </a>
                    </h3>
                </div>
            </div>
            <div class="decal"></div>
        </div>
        <div class="col-sm-4 col-md-4  col-lg-4" style="text-align: center;">
            <br>
            <div class="characterAspect">
                <a href="#"><img src="/././assets/img/chirrut-imwe.jpg" /></a>
            </div>
            <div class="content-wrapper">
                <div class="content-info">
                    <h3 class="title">
                        <a href="#" data-slug="databank/chirrut-imwe"> <span class="long-title">CHIRRUT ÎMWE</span> </a>
                    </h3>
                </div>
            </div>
            <div class="decal"></div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <br>
            <div class="characterAspect">
                <a href="#"><img src="/././assets/img/general-merrick.jpg" /></a>
            </div>
            <div class="content-wrapper">
                <div class="content-info">
                    <h3 class="title">
                        <a href="#" data-slug="databank/general-merrick"> <span class="long-title">
                          GENERAL MERRICK</span> </a>
                    </h3>
                </div>
            </div>
            <div class="decal"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 offset-lg-1 col-lg-3">
            <br>
            <div class="characterAspect">
                <a href="#"><img src="/././assets/img/weeteef-cyu.jpg" /></a>
            </div>
            <div class="content-wrapper">
                <div class="content-info">
                    <h3 class="title">
                        <a href="#" data-slug="databank/weeteef-cyu"> <span class="long-title">WEETEEF CYU-BEE</span> </a>
                    </h3>
                </div>
            </div>
            <div class="decal"></div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" style="text-align: center;">
            <br>
            <div class="characterAspect">
                <a href="#"><img src="/././assets/img/r2-bhd-tooby.jpg" /></a>
            </div>
            <div class="content-wrapper">
                <div class="content-info">
                    <h3 class="title">
                        <a href="#" data-slug="databank/r2-bhd-tooby"> <span class="long-title">R2-BHD (TOOBY)</span> </a>
                    </h3>
                </div>
            </div>
            <div class="decal"></div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <br>
            <div class="characterAspect">
                <a href="#"><img src="/././assets/img/galen-erso.jpg" /></a>
            </div>
            <div class="content-wrapper">
                <div class="content-info">
                    <h3 class="title">
                        <a href="#" data-slug="databank/galen-erso"> <span class="long-title">GALEN ERSO</span> </a>
                    </h3>
                </div>
            </div>
            <div class="decal"></div>
        </div>
    </div>
    <br>
</div>
<!-- <table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Height</th>
            <th scope="col">Mass</th>
            <th scope="col">Hair color</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of characterModel.results">
            <td>{{item.name}}</td>
            <td>{{item.height}}</td>
            <td>{{item.mass}}</td>
            <td>{{item.hair_color}}</td>
        </tr>
    </tbody>
</table>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->